.carousel{
    height: 47vmax;
    width: 100%;
    overflow: hidden;
    /* margin-top: 4vmax; */
    background-color: #FFC801;
}
.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
}