.icon {
    height: auto;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease .4s;
    margin-bottom: 10px;
}
.member{
    display: flex;
    justify-content: center;
    flex-direction: column;
   background: linear-gradient(to right, #FE9251, #FF5D49);
    gap: .5vmax;
    cursor: pointer;
    border-radius: 15px;
}

.member h1{
    font-size: 2vmax;
    background-color: #e8d2c4;
    width: fit-content;
    padding: .5vmax 2vmax;
    border-radius: 10px;

}